.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
  margin: auto;
}
.pagination-btns {
  display: flex;
}
.pagination-btns span {
  display: flex;
  align-items: center;
}
.pagination-btn {
  display: flex;
  width: 2.5rem;
  height: 2.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.0625rem;
  border: none;
  background-color: var(--color-light);
}
.pagination-btn-icon {
  border-radius: 0.5rem;
  border: 1px solid #4a545e;
  opacity: 0.5;
  background-color: var(--color-light);

  /* Elevation/Bottom/bottom-100 */
  box-shadow: 0px 1px 2px 0px rgba(27, 36, 44, 0.12);
}
.pagination-btn.active {
  background-color: var(--primary-color);
  color: var(--color-light);
  border-radius: 0.5rem;
}
